
{{outlet}}

{{#bricks-grid fullReload=true as | grid |}}
  {{#each items as | i |}}
    {{#grid.image}}
      <button {{action "remove" i}}>
        desctroy
      </button>
      <img src={{i}} alt="">
    {{/grid.image}}
  {{/each}}
{{/bricks-grid}}
